@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-yellow-color: #ffd60a;
  --main-yellow-hover-color: #ffc300;
  --main-darkblue-color: #003566;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Container */
.container {
  @apply p-[15px] m-[15px];
}

/* Flex */
.flexbox {
  @apply flex justify-center items-center;
}
